@layout('shared/layouts/master')

@section('styles')
  {{--  {{ style('dist/app.css') }}  --}}
@endsection

@section('content')
  <div id="root"></div>
@endsection

@section('scripts')
    <script src="/dist/app.tsx"></script>
@endsection



